body {
    background-color: rgb(190, 190, 190);
}

/* Header */
#index__header {
    background-color: rgb(51, 51, 51);
    color: white;
}

#index__logo {
    background-color: white;
    /* margin: 1em; */
    width: 6em;
}


/* Main */
#index__div {
    /* text-align: center; */
    margin: 0px auto;
    padding-bottom: 3em;
    padding-top: 3em;
    width: 80%;
}



/* Footer */
#footer__div {
    background-color: #212529;
    color: white;
    padding: 2em;
    text-align: center;
}