/* Header */
#register__header {
    background-color: #212529;
    color: white;
}

#register__logo {
    background-color: white;
    margin: 1em;
    width: 10em;
}

/* Main */
#register__main {
    background-color: white;
    display: none;
    min-height: 75vh;
}

#register__div {
    /* text-align: center; */
    margin: 0px auto;
    padding-bottom: 3em;
    padding-top: 3em;
    width: 40%;
}


/* Footer */
#register__footer__div {
    background-color: #212529;
    color: white;
    padding: 2em;
    text-align: center;
}